<div id="contactExpertModal" class="custom-modal" style="display:none;">
  <div class="custom-modal-content">
    <span class="custom-close close-btn" onclick="closeContactModal('contactExpertModal')">&times;</span>
    
  {% if request.locale.iso_code == 'de' %}
    <!--pifyform-start--> <style>.pifyform.formloading iframe{visibility: hidden !important;} .pifyform.formloading{background-image: url(https://form-builder.pifyapp.com/assets/images/loading.gif?v=4.6);background-position: center 30px;background-size: 30px 30px;background-repeat: no-repeat;}</style> <div id="pifyform-11845" class="pifyform" style="margin:10px 0;"> <script charset="UTF-8" defer>document.getElementById("pifyform-11845").classList.add("formloading");(function(h){function n(a){return null===a?null:a.scrollHeight>a.clientHeight?a:n(a.parentNode)}function t(b){if(b.data && typeof(b.data)=="string"){var f =null;try{f=JSON.parse(b.data);}catch(e){}if(f!=null&&f.height!=undefined){if(f.formId==undefined){d.style.height=f.height+"px"}else if("pifyform-"+f.formId==d.id){d.style.height=f.height+"px"} }if(f!=null&&f.redirect!=undefined&&f.redirect!=""){window.location.href=f.redirect;}if(f!=null&&f.retsetHeight!=undefined&&f.retsetHeight){d.style.height="520px";window.location.href="#pifyform-11845";}if(document.getElementsByClassName('lazyframe').length>0){var lazyframe=document.getElementsByClassName('lazyframe')[0];lazyframe.style.height="100%";lazyframe.removeAttribute("data-ratio");lazyframe.parentNode.style.overflow='hidden'} if(f!=null&&f.getter){b={};var f=[].concat(f.getter),k,h=f.length,m,c,g,e;for(k=0;k<h;k++){m=k;c=f[k]||{};c.n&&(m=c.n);g=null;try{switch(c.t){case "window":e=window;break;case "scrollParent":e=n(a)||window;break;default:e=a}if(c.e)if("rect"===c.v){g={};var l=e.getBoundingClientRect();g={top:l.top,left:l.left,width:l.width,height:l.height} }else g=e[c.v].apply(e,[].concat(c.e))||!0;else c.s?(e[c.v]=c.s,g=!0):g=e[c.v]||!1}catch(u){}b[m]=g}b.innerState=!p&&!q;a.contentWindow.postMessage(JSON.stringify({queryRes:b}),"*")} } }var d = document.getElementById("pifyform-11845");var a = document.createElement("iframe");d.style.overflowY="auto";d.style.overflowX="hidden";var p=d.style.height&&"auto"!==d.style.height,q="absolute"===d.style.position||window.getComputedStyle&&"absolute"===window.getComputedStyle(d,null).getPropertyValue("position")||d.currentStyle&&"absolute"===d.currentStyle.position;h.addEventListener&&h.addEventListener("message",t,!1);a.src="https://form-builder-an.pifyapp.com/form/s/11845";a.id="form-iframe-11845";a.onload=function(){document.getElementById("pifyform-11845").classList.remove("formloading");a.contentWindow.postMessage(JSON.stringify({parentUrl: window.location.href}), "*");};a.frameBorder=0;a.scrolling="no";a.style.display="block";a.style.minWidth="100%";a.style.width="100px";a.style.height="100%";a.style.border="none";a.style.overflow="auto";setTimeout(function(){if(!document.getElementById("form-iframe-11845")){d.appendChild(a);} },50);})(window);</script> </div> <!--pifyform-end-->
 {% elsif request.locale.iso_code == 'fr' %}
	<!--pifyform-start-->
<style>.pifyform.formloading iframe{visibility: hidden !important;} .pifyform.formloading{background-image: url(https://form-builder.pifyapp.com/assets/images/loading.gif?v=4.6);background-position: center 30px;background-size: 30px 30px;background-repeat: no-repeat;}</style>
<div id="pifyform-11846" class="pifyform" style="margin:10px 0;">
<script charset="UTF-8" defer>document.getElementById("pifyform-11846").classList.add("formloading");(function(h){function n(a){return null===a?null:a.scrollHeight>a.clientHeight?a:n(a.parentNode)}function t(b){if(b.data && typeof(b.data)=="string"){var f =null;try{f=JSON.parse(b.data);}catch(e){}if(f!=null&&f.height!=undefined){if(f.formId==undefined){d.style.height=f.height+"px"}else if("pifyform-"+f.formId==d.id){d.style.height=f.height+"px"} }if(f!=null&&f.redirect!=undefined&&f.redirect!=""){window.location.href=f.redirect;}if(f!=null&&f.retsetHeight!=undefined&&f.retsetHeight){d.style.height="520px";window.location.href="#pifyform-11846";}if(document.getElementsByClassName('lazyframe').length>0){var lazyframe=document.getElementsByClassName('lazyframe')[0];lazyframe.style.height="100%";lazyframe.removeAttribute("data-ratio");lazyframe.parentNode.style.overflow='hidden'} if(f!=null&&f.getter){b={};var f=[].concat(f.getter),k,h=f.length,m,c,g,e;for(k=0;k<h;k++){m=k;c=f[k]||{};c.n&&(m=c.n);g=null;try{switch(c.t){case "window":e=window;break;case "scrollParent":e=n(a)||window;break;default:e=a}if(c.e)if("rect"===c.v){g={};var l=e.getBoundingClientRect();g={top:l.top,left:l.left,width:l.width,height:l.height} }else g=e[c.v].apply(e,[].concat(c.e))||!0;else c.s?(e[c.v]=c.s,g=!0):g=e[c.v]||!1}catch(u){}b[m]=g}b.innerState=!p&&!q;a.contentWindow.postMessage(JSON.stringify({queryRes:b}),"*")} } }var d = document.getElementById("pifyform-11846");var a = document.createElement("iframe");d.style.overflowY="auto";d.style.overflowX="hidden";var p=d.style.height&&"auto"!==d.style.height,q="absolute"===d.style.position||window.getComputedStyle&&"absolute"===window.getComputedStyle(d,null).getPropertyValue("position")||d.currentStyle&&"absolute"===d.currentStyle.position;h.addEventListener&&h.addEventListener("message",t,!1);a.src="https://form-builder-an.pifyapp.com/form/s/11846";a.id="form-iframe-11846";a.onload=function(){document.getElementById("pifyform-11846").classList.remove("formloading");a.contentWindow.postMessage(JSON.stringify({parentUrl: window.location.href}), "*");};a.frameBorder=0;a.scrolling="no";a.style.display="block";a.style.minWidth="100%";a.style.width="100px";a.style.height="100%";a.style.border="none";a.style.overflow="auto";setTimeout(function(){if(!document.getElementById("form-iframe-11846")){d.appendChild(a);} },50);})(window);</script>
</div>
<!--pifyform-end-->
{% else %}
<style>.pifyform.formloading iframe{visibility: hidden !important;} .pifyform.formloading{background-image: url(https://form-builder.pifyapp.com/assets/images/loading.gif?v=4.6);background-position: center 30px;background-size: 30px 30px;background-repeat: no-repeat;}</style>
<div id="pifyform-11844" class="pifyform" style="margin:10px 0;">
<script charset="UTF-8" defer>document.getElementById("pifyform-11844").classList.add("formloading");(function(h){function n(a){return null===a?null:a.scrollHeight>a.clientHeight?a:n(a.parentNode)}function t(b){if(b.data && typeof(b.data)=="string"){var f =null;try{f=JSON.parse(b.data);}catch(e){}if(f!=null&&f.height!=undefined){if(f.formId==undefined){d.style.height=f.height+"px"}else if("pifyform-"+f.formId==d.id){d.style.height=f.height+"px"} }if(f!=null&&f.redirect!=undefined&&f.redirect!=""){window.location.href=f.redirect;}if(f!=null&&f.retsetHeight!=undefined&&f.retsetHeight){d.style.height="520px";window.location.href="#pifyform-11844";}if(document.getElementsByClassName('lazyframe').length>0){var lazyframe=document.getElementsByClassName('lazyframe')[0];lazyframe.style.height="100%";lazyframe.removeAttribute("data-ratio");lazyframe.parentNode.style.overflow='hidden'} if(f!=null&&f.getter){b={};var f=[].concat(f.getter),k,h=f.length,m,c,g,e;for(k=0;k<h;k++){m=k;c=f[k]||{};c.n&&(m=c.n);g=null;try{switch(c.t){case "window":e=window;break;case "scrollParent":e=n(a)||window;break;default:e=a}if(c.e)if("rect"===c.v){g={};var l=e.getBoundingClientRect();g={top:l.top,left:l.left,width:l.width,height:l.height} }else g=e[c.v].apply(e,[].concat(c.e))||!0;else c.s?(e[c.v]=c.s,g=!0):g=e[c.v]||!1}catch(u){}b[m]=g}b.innerState=!p&&!q;a.contentWindow.postMessage(JSON.stringify({queryRes:b}),"*")} } }var d = document.getElementById("pifyform-11844");var a = document.createElement("iframe");d.style.overflowY="auto";d.style.overflowX="hidden";var p=d.style.height&&"auto"!==d.style.height,q="absolute"===d.style.position||window.getComputedStyle&&"absolute"===window.getComputedStyle(d,null).getPropertyValue("position")||d.currentStyle&&"absolute"===d.currentStyle.position;h.addEventListener&&h.addEventListener("message",t,!1);a.src="https://form-builder-an.pifyapp.com/form/s/11844";a.id="form-iframe-11844";a.onload=function(){document.getElementById("pifyform-11844").classList.remove("formloading");a.contentWindow.postMessage(JSON.stringify({parentUrl: window.location.href}), "*");};a.frameBorder=0;a.scrolling="no";a.style.display="block";a.style.minWidth="100%";a.style.width="100px";a.style.height="100%";a.style.border="none";a.style.overflow="auto";setTimeout(function(){if(!document.getElementById("form-iframe-11844")){d.appendChild(a);} },50);})(window);</script>
</div>
  {% endif %}
  </div>
</div>

<!-- Notify Me Modal -->
<div id="notifyMeModal" class="custom-modal" style="display:none;">
  <div class="custom-modal-content">
    <span class="custom-close close-btn" onclick="closeContactModal('notifyMeModal')">&times;</span>

{% if request.locale.iso_code == 'de' %}

	<!--pifyform-start-->
<style>.pifyform.formloading iframe{visibility: hidden !important;} .pifyform.formloading{background-image: url(https://form-builder.pifyapp.com/assets/images/loading.gif?v=4.6);background-position: center 30px;background-size: 30px 30px;background-repeat: no-repeat;}</style>
<div id="pifyform-11848" class="pifyform" style="margin:10px 0;">
<script charset="UTF-8" defer>document.getElementById("pifyform-11848").classList.add("formloading");(function(h){function n(a){return null===a?null:a.scrollHeight>a.clientHeight?a:n(a.parentNode)}function t(b){if(b.data && typeof(b.data)=="string"){var f =null;try{f=JSON.parse(b.data);}catch(e){}if(f!=null&&f.height!=undefined){if(f.formId==undefined){d.style.height=f.height+"px"}else if("pifyform-"+f.formId==d.id){d.style.height=f.height+"px"} }if(f!=null&&f.redirect!=undefined&&f.redirect!=""){window.location.href=f.redirect;}if(f!=null&&f.retsetHeight!=undefined&&f.retsetHeight){d.style.height="520px";window.location.href="#pifyform-11848";}if(document.getElementsByClassName('lazyframe').length>0){var lazyframe=document.getElementsByClassName('lazyframe')[0];lazyframe.style.height="100%";lazyframe.removeAttribute("data-ratio");lazyframe.parentNode.style.overflow='hidden'} if(f!=null&&f.getter){b={};var f=[].concat(f.getter),k,h=f.length,m,c,g,e;for(k=0;k<h;k++){m=k;c=f[k]||{};c.n&&(m=c.n);g=null;try{switch(c.t){case "window":e=window;break;case "scrollParent":e=n(a)||window;break;default:e=a}if(c.e)if("rect"===c.v){g={};var l=e.getBoundingClientRect();g={top:l.top,left:l.left,width:l.width,height:l.height} }else g=e[c.v].apply(e,[].concat(c.e))||!0;else c.s?(e[c.v]=c.s,g=!0):g=e[c.v]||!1}catch(u){}b[m]=g}b.innerState=!p&&!q;a.contentWindow.postMessage(JSON.stringify({queryRes:b}),"*")} } }var d = document.getElementById("pifyform-11848");var a = document.createElement("iframe");d.style.overflowY="auto";d.style.overflowX="hidden";var p=d.style.height&&"auto"!==d.style.height,q="absolute"===d.style.position||window.getComputedStyle&&"absolute"===window.getComputedStyle(d,null).getPropertyValue("position")||d.currentStyle&&"absolute"===d.currentStyle.position;h.addEventListener&&h.addEventListener("message",t,!1);a.src="https://form-builder-an.pifyapp.com/form/s/11848";a.id="form-iframe-11848";a.onload=function(){document.getElementById("pifyform-11848").classList.remove("formloading");a.contentWindow.postMessage(JSON.stringify({parentUrl: window.location.href}), "*");};a.frameBorder=0;a.scrolling="no";a.style.display="block";a.style.minWidth="100%";a.style.width="100px";a.style.height="100%";a.style.border="none";a.style.overflow="auto";setTimeout(function(){if(!document.getElementById("form-iframe-11848")){d.appendChild(a);} },50);})(window);</script>
</div>
<!--pifyform-end-->

  {% elsif request.locale.iso_code == 'fr' %}
	
	<!--pifyform-start-->
<style>.pifyform.formloading iframe{visibility: hidden !important;} .pifyform.formloading{background-image: url(https://form-builder.pifyapp.com/assets/images/loading.gif?v=4.6);background-position: center 30px;background-size: 30px 30px;background-repeat: no-repeat;}</style>
<div id="pifyform-11849" class="pifyform" style="margin:10px 0;">
<script charset="UTF-8" defer>document.getElementById("pifyform-11849").classList.add("formloading");(function(h){function n(a){return null===a?null:a.scrollHeight>a.clientHeight?a:n(a.parentNode)}function t(b){if(b.data && typeof(b.data)=="string"){var f =null;try{f=JSON.parse(b.data);}catch(e){}if(f!=null&&f.height!=undefined){if(f.formId==undefined){d.style.height=f.height+"px"}else if("pifyform-"+f.formId==d.id){d.style.height=f.height+"px"} }if(f!=null&&f.redirect!=undefined&&f.redirect!=""){window.location.href=f.redirect;}if(f!=null&&f.retsetHeight!=undefined&&f.retsetHeight){d.style.height="520px";window.location.href="#pifyform-11849";}if(document.getElementsByClassName('lazyframe').length>0){var lazyframe=document.getElementsByClassName('lazyframe')[0];lazyframe.style.height="100%";lazyframe.removeAttribute("data-ratio");lazyframe.parentNode.style.overflow='hidden'} if(f!=null&&f.getter){b={};var f=[].concat(f.getter),k,h=f.length,m,c,g,e;for(k=0;k<h;k++){m=k;c=f[k]||{};c.n&&(m=c.n);g=null;try{switch(c.t){case "window":e=window;break;case "scrollParent":e=n(a)||window;break;default:e=a}if(c.e)if("rect"===c.v){g={};var l=e.getBoundingClientRect();g={top:l.top,left:l.left,width:l.width,height:l.height} }else g=e[c.v].apply(e,[].concat(c.e))||!0;else c.s?(e[c.v]=c.s,g=!0):g=e[c.v]||!1}catch(u){}b[m]=g}b.innerState=!p&&!q;a.contentWindow.postMessage(JSON.stringify({queryRes:b}),"*")} } }var d = document.getElementById("pifyform-11849");var a = document.createElement("iframe");d.style.overflowY="auto";d.style.overflowX="hidden";var p=d.style.height&&"auto"!==d.style.height,q="absolute"===d.style.position||window.getComputedStyle&&"absolute"===window.getComputedStyle(d,null).getPropertyValue("position")||d.currentStyle&&"absolute"===d.currentStyle.position;h.addEventListener&&h.addEventListener("message",t,!1);a.src="https://form-builder-an.pifyapp.com/form/s/11849";a.id="form-iframe-11849";a.onload=function(){document.getElementById("pifyform-11849").classList.remove("formloading");a.contentWindow.postMessage(JSON.stringify({parentUrl: window.location.href}), "*");};a.frameBorder=0;a.scrolling="no";a.style.display="block";a.style.minWidth="100%";a.style.width="100px";a.style.height="100%";a.style.border="none";a.style.overflow="auto";setTimeout(function(){if(!document.getElementById("form-iframe-11849")){d.appendChild(a);} },50);})(window);</script>
</div>
<!--pifyform-end-->

{% else %}
	<!--pifyform-start-->
<style>.pifyform.formloading iframe{visibility: hidden !important;} .pifyform.formloading{background-image: url(https://form-builder.pifyapp.com/assets/images/loading.gif?v=4.6);background-position: center 30px;background-size: 30px 30px;background-repeat: no-repeat;}</style>
<div id="pifyform-11847" class="pifyform" style="margin:10px 0;">
<script charset="UTF-8" defer>document.getElementById("pifyform-11847").classList.add("formloading");(function(h){function n(a){return null===a?null:a.scrollHeight>a.clientHeight?a:n(a.parentNode)}function t(b){if(b.data && typeof(b.data)=="string"){var f =null;try{f=JSON.parse(b.data);}catch(e){}if(f!=null&&f.height!=undefined){if(f.formId==undefined){d.style.height=f.height+"px"}else if("pifyform-"+f.formId==d.id){d.style.height=f.height+"px"} }if(f!=null&&f.redirect!=undefined&&f.redirect!=""){window.location.href=f.redirect;}if(f!=null&&f.retsetHeight!=undefined&&f.retsetHeight){d.style.height="520px";window.location.href="#pifyform-11847";}if(document.getElementsByClassName('lazyframe').length>0){var lazyframe=document.getElementsByClassName('lazyframe')[0];lazyframe.style.height="100%";lazyframe.removeAttribute("data-ratio");lazyframe.parentNode.style.overflow='hidden'} if(f!=null&&f.getter){b={};var f=[].concat(f.getter),k,h=f.length,m,c,g,e;for(k=0;k<h;k++){m=k;c=f[k]||{};c.n&&(m=c.n);g=null;try{switch(c.t){case "window":e=window;break;case "scrollParent":e=n(a)||window;break;default:e=a}if(c.e)if("rect"===c.v){g={};var l=e.getBoundingClientRect();g={top:l.top,left:l.left,width:l.width,height:l.height} }else g=e[c.v].apply(e,[].concat(c.e))||!0;else c.s?(e[c.v]=c.s,g=!0):g=e[c.v]||!1}catch(u){}b[m]=g}b.innerState=!p&&!q;a.contentWindow.postMessage(JSON.stringify({queryRes:b}),"*")} } }var d = document.getElementById("pifyform-11847");var a = document.createElement("iframe");d.style.overflowY="auto";d.style.overflowX="hidden";var p=d.style.height&&"auto"!==d.style.height,q="absolute"===d.style.position||window.getComputedStyle&&"absolute"===window.getComputedStyle(d,null).getPropertyValue("position")||d.currentStyle&&"absolute"===d.currentStyle.position;h.addEventListener&&h.addEventListener("message",t,!1);a.src="https://form-builder-an.pifyapp.com/form/s/11847";a.id="form-iframe-11847";a.onload=function(){document.getElementById("pifyform-11847").classList.remove("formloading");a.contentWindow.postMessage(JSON.stringify({parentUrl: window.location.href}), "*");};a.frameBorder=0;a.scrolling="no";a.style.display="block";a.style.minWidth="100%";a.style.width="100px";a.style.height="100%";a.style.border="none";a.style.overflow="auto";setTimeout(function(){if(!document.getElementById("form-iframe-11847")){d.appendChild(a);} },50);})(window);</script>
</div>
<!--pifyform-end-->

  {% endif %}

    
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  window.showContactExpertPopup = function() {
    document.getElementById('contactExpertModal').style.display = 'block';
  }

  window.showNotifyMePopup = function() {
    document.getElementById('notifyMeModal').style.display = 'block';
  }

  window.closeContactModal = function(modalId) {
    document.getElementById(modalId).style.display = 'none';
  }
});
</script>

<style>
.custom-modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.6); 
}

.custom-modal-content {
  background-color: #ffffff;
  margin: 10% auto; 
  padding: 30px;
  border: 2px solid #888; 
  width: 50%; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  height:1500px;
}

.custom-close {
  color: #ff0000; /* 红色 */
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.custom-close:hover,
.custom-close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .custom-modal{
   display: block;
    z-index: 20000; 
  }

  .custom-modal-content{
    width: 96%;
    height: 1850px;
    padding: 10px;
  }

.close-btn{
    display: block !important;
}
  
}
</style>