{%- assign measurements = 'frame_height,seat_tube_angle,fork_offset,seat_angle,head_tube_length,head_tube_angle,top_tube_horizontal,chain_stay_length,bottom_bracket_drop,wheelbase,stack,reach,standover_height,seat_height_min,seat_height_max'
  | split: ','
-%}
{%- assign letters = 'A,B,C,D,E,F,G,H,I,J,K,L,M' | split: ',' -%}

{%- if type == 'step_through' -%}
  {%- assign sizes = 'M,L' | split: ',' -%}
  {%- if show_size_s -%}
    {%- assign sizes = 'S' | split: ',' | concat: sizes -%}
  {%- endif -%}
  {%- if show_size_xl -%}
    {%- assign sizes = sizes | join: ',' | append: ',XL' | split: ',' -%}
  {%- endif -%}
{%- elsif type == 'low_step' -%}
  {%- assign sizes = 'M,L' | split: ',' -%}
{%- elsif type == 'high_step' -%}
  {%- assign sizes = 'M,L' | split: ',' -%}
  {%- if show_size_xl -%}
    {%- assign sizes = sizes | join: ',' | append: ',XL' | split: ',' -%}
  {%- endif -%}
{%- else -%}
  {%- assign sizes = 'M,L' | split: ',' -%}
{%- endif -%}

<table class="pf-inner-table" style="width: 100%;">
  <thead>
    <tr>
      <th>
        {% if request.locale.iso_code == 'de' %}
          Nr.
        {% elsif request.locale.iso_code == 'fr' %}
          N°
        {% elsif request.locale.iso_code == 'fi' %}
          Nro
        {% else %}
          No.
        {% endif %}
      </th>
      <th>
        {% if request.locale.iso_code == 'de' %}
          Messung
        {% elsif request.locale.iso_code == 'fr' %}
          Mesure
        {% elsif request.locale.iso_code == 'fi' %}
          Mittaus
        {% else %}
          Measurement
        {% endif %}
      </th>
      {% for size in sizes %}
        <th>{{ size }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for measurement in measurements %}
      {% assign letter_index = forloop.index0 %}
      <tr>
        <td>{{ letters[letter_index] }}</td>
        <td>
          {% case measurement %}
            {% when 'frame_height' -%}
              {% if request.locale.iso_code == 'de' %}
                Rahmenhöhe
              {% elsif request.locale.iso_code == 'fr' %}
                Hauteur du cadre
              {% elsif request.locale.iso_code == 'fi' %}
                Rungon korkeus
              {% else %}
                Frame Height
              {% endif %}
            {% when 'seat_tube_angle' -%}
              {% if request.locale.iso_code == 'de' %}
                Sitzrohrwinkel
              {% elsif request.locale.iso_code == 'fr' %}
                Angle du tube de selle
              {% elsif request.locale.iso_code == 'fi' %}
                Satulatolpan kulma
              {% else %}
                Seat Tube Angle
              {% endif %}
            {% when 'fork_offset' -%}
              {% if request.locale.iso_code == 'de' %}
                Gabelvorlauf
              {% elsif request.locale.iso_code == 'fr' %}
                Décalage de fourche
              {% elsif request.locale.iso_code == 'fi' %}
                Haarukan offset
              {% else %}
                Fork Offset
              {% endif %}
            {% when 'seat_angle' -%}
              {% if request.locale.iso_code == 'de' %}
                Sitzwinkel
              {% elsif request.locale.iso_code == 'fr' %}
                Angle de selle
              {% elsif request.locale.iso_code == 'fi' %}
                Satulakulma
              {% else %}
                Seat Angle
              {% endif %}
            {% when 'head_tube_length' -%}
              {% if request.locale.iso_code == 'de' %}
                Steuerrohrlänge
              {% elsif request.locale.iso_code == 'fr' %}
                Longueur du tube de direction
              {% elsif request.locale.iso_code == 'fi' %}
                Ohjaustolpan pituus
              {% else %}
                Head Tube Length
              {% endif %}
            {% when 'head_tube_angle' -%}
              {% if request.locale.iso_code == 'de' %}
                Steuerrohrwinkel
              {% elsif request.locale.iso_code == 'fr' %}
                Angle du tube de direction
              {% elsif request.locale.iso_code == 'fi' %}
                Ohjaustolpan kulma
              {% else %}
                Head Tube Angle
              {% endif %}
            {% when 'top_tube_horizontal' -%}
              {% if request.locale.iso_code == 'de' %}
                Oberrohr horizontal
              {% elsif request.locale.iso_code == 'fr' %}
                Tube horizontal supérieur
              {% elsif request.locale.iso_code == 'fi' %}
                Yläputki vaakasuora
              {% else %}
                Top Tube Horizontal
              {% endif %}
            {% when 'chain_stay_length' -%}
              {% if request.locale.iso_code == 'de' %}
                Kettenstreben-Länge
              {% elsif request.locale.iso_code == 'fr' %}
                Longueur des haubans
              {% elsif request.locale.iso_code == 'fi' %}
                Ketjutuen pituus
              {% else %}
                Chain Stay Length
              {% endif %}
            {% when 'bottom_bracket_drop' -%}
              {% if request.locale.iso_code == 'de' %}
                Tretlager-Tiefung
              {% elsif request.locale.iso_code == 'fr' %}
                Chute du boîtier de pédalier
              {% elsif request.locale.iso_code == 'fi' %}
                Keskiön pudotus
              {% else %}
                Bottom Bracket Drop
              {% endif %}
            {% when 'wheelbase' -%}
              {% if request.locale.iso_code == 'de' %}
                Radstand
              {% elsif request.locale.iso_code == 'fr' %}
                Empattement
              {% elsif request.locale.iso_code == 'fi' %}
                Akseliväli
              {% else %}
                Wheelbase
              {% endif %}
            {% when 'stack' -%}
              {% if request.locale.iso_code == 'de' %}
                Stack
              {% elsif request.locale.iso_code == 'fr' %}
                Stack
              {% elsif request.locale.iso_code == 'fi' %}
                Stack
              {% else %}
                Stack
              {% endif %}
            {% when 'reach' -%}
              {% if request.locale.iso_code == 'de' %}
                Reach
              {% elsif request.locale.iso_code == 'fr' %}
                Reach
              {% elsif request.locale.iso_code == 'fi' %}
                Reach
              {% else %}
                Reach
              {% endif %}
            {% when 'standover_height' -%}
              {% if request.locale.iso_code == 'de' %}
                Überstandshöhe
              {% elsif request.locale.iso_code == 'fr' %}
                Hauteur d'enjambement
              {% elsif request.locale.iso_code == 'fi' %}
                Yliastumiskorkeus
              {% else %}
                Standover Height
              {% endif %}
            {% when 'seat_height_min' -%}
              {% if request.locale.iso_code == 'de' %}
                Sitzhöhe Min
              {% elsif request.locale.iso_code == 'fr' %}
                Hauteur de selle Min
              {% elsif request.locale.iso_code == 'fi' %}
                Satulakorkeus Min
              {% else %}
                Seat Height Min
              {% endif %}
            {% when 'seat_height_max' -%}
              {% if request.locale.iso_code == 'de' %}
                Sitzhöhe Max
              {% elsif request.locale.iso_code == 'fr' %}
                Hauteur de selle Max
              {% elsif request.locale.iso_code == 'fi' %}
                Satulakorkeus Max
              {% else %}
                Seat Height Max
              {% endif %}
            {% else -%}
              {{ measurement | replace: '_', ' ' | capitalize }}
          {% endcase %}
        </td>

        {% for size in sizes %}
          {% assign field_name = '' %}

          {% case type %}
            {% when 'step_through' %}
              {% if size == 'S' %}
                {% assign field_name = measurement | append: '_low_S' %}
              {% elsif size == 'M' %}
                {% assign field_name = measurement | append: '_low' %}
              {% elsif size == 'L' %}
                {% assign field_name = measurement | append: '_low_L' %}
              {% elsif size == 'XL' %}
                {% assign field_name = measurement | append: '_low_XL' %}
              {% endif %}

            {% when 'low_step' %}
              {% if size == 'M' %}
                {% assign field_name = measurement | append: '_low' %}
              {% elsif size == 'L' %}
                {% assign field_name = measurement | append: '_low_L' %}
              {% endif %}

            {% when 'high_step' %}
              {% if size == 'M' %}
                {% assign field_name = measurement | append: '_high' %}
              {% elsif size == 'L' %}
                {% assign field_name = measurement | append: '_high_L' %}
              {% elsif size == 'XL' %}
                {% assign field_name = measurement | append: '_high_XL' %}
              {% endif %}

            {% else %}
              {% if size == 'M' %}
                {% assign field_name = measurement | append: '_high' %}
              {% elsif size == 'L' %}
                {% assign field_name = measurement | append: '_high_L' %}
              {% endif %}
          {% endcase %}

          <td>{{ block.settings[field_name] | default: '-' }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
