<div
  class="product-sku"
  {% if current_variant == blank or current_variant.sku == blank %}
    hidden
  {% endif %}
  {{ block.shopify_attributes }}
>
  <span class="product-info-label">{{ 'products.product.sku' | t }}</span>
  <span class="product-sku__value">
    {%- if current_variant %}{{ current_variant.sku }}{% endif -%}
  </span>
</div>
