{% if section.settings.section_id.size > 0 %}
  <!-- PageFlyGlobalSection -->
  {% render 'pagefly-main-js' %}
  {% render 'pagefly-main-css' %}
  {% include section.settings.section_id %}
{% else %}
  
    {% if request.design_mode %}
      <style>.pf-ph{font-size:14px!important;background:#fafafa;padding:20px;text-align:center;border:1px solid #f0f0f0;border-radius:4px;margin:15px}.pf-ph span{display:block;background:#e6f7ff;padding:8px 15px;border:1px solid #91d5ff}</style>
      <div class="pf-ph">
        <h3>PageFly Section</h3>
        <span>No section selected. Please select your section from the list</span>
      </div>
    {% endif %}
  
{% endif %}

{% schema %}
{
  "name": "PageFly Section",
  "settings": [
    {
      "id": "section_id",
      "type": "select",
      "label": "Sections",
      "options": [
        {
          "label": "Select section",
          "value": ""
        },
        {
          "label": "trekking 7",
          "value": "pf-8bd02c68"
        },
        {
          "label": "Mountain 7",
          "value": "pf-a09e956a"
        },
        {
          "label": "trekking 7 banner",
          "value": "pf-8a4d3df6"
        },
        {
          "label": "JobRad banner DE",
          "value": "pf-e489770d"
        },
        {
          "label": "home banner",
          "value": "pf-3c605177"
        },
        {
          "label": "homepage-banner",
          "value": "pf-6df2d14c"
        },
        {
          "label": "footer3",
          "value": "pf-ff0110cc"
        },
        {
          "label": "footer2",
          "value": "pf-11674fea"
        },
        {
          "label": "Black Friday - sales",
          "value": "pf-7766b217"
        },
        {
          "label": "Black Friday",
          "value": "pf-cc4f5a66"
        },
        {
          "label": "Get your Trekking 7 LTD - FR",
          "value": "pf-08b14abc"
        },
        {
          "label": "Get your Trekking 7 LTD - AT",
          "value": "pf-3e95cb6c"
        },
        {
          "label": "Get your Trekking 7 LTD",
          "value": "pf-65cae6f1"
        },
        {
          "label": "Explore more HEPHA e-bikes - AT",
          "value": "pf-52443b48"
        },
        {
          "label": "Explore more HEPHA e-bikes - FR",
          "value": "pf-c9bb7564"
        },
        {
          "label": "Explore more HEPHA e-bikes",
          "value": "pf-9f4613ff"
        },
        {
          "label": "Other Promotion Models",
          "value": "pf-4bb691e7"
        },
        {
          "label": "Inklusive Alteos Komfortschutz",
          "value": "pf-373ddd89"
        },
        {
          "label": "Other Promotion Models - FR",
          "value": "pf-841104a9"
        },
        {
          "label": "Other Promotion Models - AT",
          "value": "pf-b1dd1201"
        },
        {
          "label": "mc-m - copy",
          "value": "pf-d0d928a6"
        },
        {
          "label": "mc-m",
          "value": "pf-b7cfbcf0"
        },
        {
          "label": "mc-ur - copy",
          "value": "pf-d8498a0c"
        },
        {
          "label": "mc-pr - copy",
          "value": "pf-53cf115c"
        },
        {
          "label": "mc-lr - copy",
          "value": "pf-0f99ec15"
        },
        {
          "label": "mc-ur",
          "value": "pf-a2d5ee26"
        },
        {
          "label": "mc-pr",
          "value": "pf-33785855"
        },
        {
          "label": "mc-lr",
          "value": "pf-ca8c2f20"
        },
        {
          "label": "mt7-m - copy",
          "value": "pf-b31d67d7"
        },
        {
          "label": "mt7-m",
          "value": "pf-cc1ae34e"
        },
        {
          "label": "mt-ur - copy",
          "value": "pf-b7cb1b03"
        },
        {
          "label": "mt-pr - copy",
          "value": "pf-5b4e0d06"
        },
        {
          "label": "mt-lr - copy",
          "value": "pf-8da678de"
        },
        {
          "label": "mt-lr",
          "value": "pf-7cad7736"
        },
        {
          "label": "mt-ur",
          "value": "pf-4e536867"
        },
        {
          "label": "mt-pr",
          "value": "pf-15b22cba"
        },
        {
          "label": "Alteos Komfortschutz mobile  - copy",
          "value": "pf-0e2629ea"
        },
        {
          "label": "Alteos Komfortschutz mobile ",
          "value": "pf-cde8204c"
        },
        {
          "label": "tr7-m - copy",
          "value": "pf-63256627"
        },
        {
          "label": "tr7-m",
          "value": "pf-b96c24bc"
        },
        {
          "label": "tr7-ur - copy",
          "value": "pf-755004d3"
        },
        {
          "label": "tr7-pr - copy",
          "value": "pf-8889373b"
        },
        {
          "label": "tr7-lr - copy",
          "value": "pf-be122272"
        },
        {
          "label": "Alteos Komfortschutz collection - copy",
          "value": "pf-801e4ea4"
        },
        {
          "label": "Alteos Komfortschutz collection",
          "value": "pf-01fcd3ee"
        },
        {
          "label": "tr7-ur",
          "value": "pf-359c13bf"
        },
        {
          "label": "tr7-pr",
          "value": "pf-0f877930"
        },
        {
          "label": "tr7-lr",
          "value": "pf-a0399640"
        },
        {
          "label": "When buying the Hepha Trekking 7 LTD Long Range, y",
          "value": "pf-bd9a7606"
        },
        {
          "label": "When buying the Hepha Trekking 7 LTD Long Range, y",
          "value": "pf-6ef6b784"
        },
        {
          "label": "How to join the Black Weeks Promotion",
          "value": "pf-0e6cc011"
        },
        {
          "label": "Abus Folding Lock & XLC Suspension Seatpost - AT",
          "value": "pf-7f46f09f"
        },
        {
          "label": "Abus Folding Lock & XLC Suspension Seatpost",
          "value": "pf-7d85d0e9"
        },
        {
          "label": "Black Friday - AT FR",
          "value": "pf-a0fb661a"
        },
        {
          "label": "Frame & Geometry",
          "value": "pf-ed8de5d8"
        },
        {
          "label": "The e-bikes illustrated may differ in individual d",
          "value": "pf-6d601bde"
        },
        {
          "label": "mt7 footer",
          "value": "pf-eed7d2e8"
        },
        {
          "label": "accesories product section",
          "value": "pf-0d5dbe57"
        },
        {
          "label": "accessories stickbar",
          "value": "pf-faed2533"
        },
        {
          "label": "product section- v3",
          "value": "pf-1d77543b"
        },
        {
          "label": "Stickbar",
          "value": "pf-de855fd2"
        },
        {
          "label": "APP Section",
          "value": "pf-4713548d"
        },
        {
          "label": "Monitor your e-bike using Hepha’s App",
          "value": "pf-97cbd86c"
        },
        {
          "label": "Monitor your e-bike using Hepha’s App",
          "value": "pf-ee7324b6"
        },
        {
          "label": "geometry-low",
          "value": "pf-3f48cb7d"
        },
        {
          "label": "product section 1010",
          "value": "pf-00411224"
        },
        {
          "label": "At a HEPHA dealer",
          "value": "pf-8c569c69"
        },
        {
          "label": "Test Ride with Our Partners",
          "value": "pf-0a642b0e"
        },
        {
          "label": "Test Ride with Our Partners - FR",
          "value": "pf-ade8e33c"
        },
        {
          "label": "At our Factory in Maisach",
          "value": "pf-eb764a02"
        },
        {
          "label": "Accessories product",
          "value": "pf-136d670c"
        },
        {
          "label": "Accessories bottom",
          "value": "pf-79319aff"
        },
        {
          "label": "Trekking 7 Ultra SE Low Step",
          "value": "pf-246161c1"
        },
        {
          "label": "new price bottom",
          "value": "pf-adb1345c"
        },
        {
          "label": "new product section",
          "value": "pf-99a23c0d"
        },
        {
          "label": "awards",
          "value": "pf-ccc74907"
        },
        {
          "label": "Flexible Finanzierung mit Santander bei HEPHA",
          "value": "pf-66d4a040"
        },
        {
          "label": "We mastered the master component.",
          "value": "pf-33f3786a"
        },
        {
          "label": "E-bikes 100% assembled in Germany.",
          "value": "pf-7f03e4de"
        },
        {
          "label": "Trekking 7 Ultra SE High Step - copy",
          "value": "pf-4ed2e305"
        },
        {
          "label": "Trekking 7 Ultra SE High Step",
          "value": "pf-dfc990cb"
        },
        {
          "label": "Trekking 7 SE - copy",
          "value": "pf-50bc5805"
        },
        {
          "label": "Trekking 7 SE",
          "value": "pf-10e18e4d"
        },
        {
          "label": "accessories",
          "value": "pf-3feaadee"
        },
        {
          "label": "accessories price",
          "value": "pf-376bcf3c"
        },
        {
          "label": "How to Order Your JobRad through HEPHA AT",
          "value": "pf-1abe2120"
        },
        {
          "label": "How \"Company Bike Leasing\" Works AT",
          "value": "pf-6a84b579"
        },
        {
          "label": "How to Order Your JobRad through HEPHA DE",
          "value": "pf-7a1f5459"
        },
        {
          "label": "The Benefits of Company Bike Leasing DE",
          "value": "pf-f3a89538"
        },
        {
          "label": "How \"Company Bike Leasing\" Works DE",
          "value": "pf-a0633a48"
        },
        {
          "label": "JobRad FAQ AT",
          "value": "pf-4883dc7e"
        },
        {
          "label": "JobRad banner AT",
          "value": "pf-9e215729"
        },
        {
          "label": "Trekking 7 Ultra SE price",
          "value": "pf-72327876"
        },
        {
          "label": "price at the bottom - trekking 7 ur",
          "value": "pf-53517a44"
        },
        {
          "label": "price at the bottom - trekking 7 pr",
          "value": "pf-400d0974"
        },
        {
          "label": "price at the bottom - trekking 7 lr",
          "value": "pf-9b275895"
        },
        {
          "label": "Inklusive Alteos Komfortschutz",
          "value": "pf-80c5ef22"
        },
        {
          "label": "Comfort & power for your everyday.",
          "value": "pf-c298a89f"
        },
        {
          "label": "Trekking 7 Ultra highlights",
          "value": "pf-0d61f619"
        },
        {
          "label": "Award-winning design & performance. 2",
          "value": "pf-25892ac2"
        },
        {
          "label": "Trekking 7 Ultra Step spec",
          "value": "pf-34a6cae5"
        },
        {
          "label": "Trekking 7 Performance highlights",
          "value": "pf-effff654"
        },
        {
          "label": "Award-winning design & performance.",
          "value": "pf-9e0de130"
        },
        {
          "label": "Trekking 7 Performance spec",
          "value": "pf-484d549b"
        },
        {
          "label": "Multi-awarded.",
          "value": "pf-53faab87"
        },
        {
          "label": "Award winning Design.",
          "value": "pf-9c0453b0"
        },
        {
          "label": "Trekking 7 Long Range spec",
          "value": "pf-0ae3abec"
        },
        {
          "label": "Specification",
          "value": "pf-42f9ba02"
        },
        {
          "label": "Tr7 Long Range desp",
          "value": "pf-dc0f4492"
        },
        {
          "label": "tr7 performance desp",
          "value": "pf-12a9aa29"
        },
        {
          "label": "tr7 ultra description title",
          "value": "pf-a1c1c406"
        },
        {
          "label": "homepage product section",
          "value": "pf-b0bd04ec"
        },
        {
          "label": "price bottom single btn",
          "value": "pf-96f2ba86"
        },
        {
          "label": "price bottom",
          "value": "pf-fcf042a1"
        },
        {
          "label": "Fill out the form and apply now",
          "value": "pf-cabc8eea"
        },
        {
          "label": "Benefits to become a dealer",
          "value": "pf-b6988ebf"
        },
        {
          "label": "Trekking 7 SE Ultra High Step Santander",
          "value": "pf-d36cdb68"
        },
        {
          "label": "Trekking 7 Ultra Low Step ",
          "value": "pf-90a85963"
        },
        {
          "label": "Trekking 7 Ultra Step Through",
          "value": "pf-f8dab161"
        },
        {
          "label": "Trekking 7 Ultra High Ste",
          "value": "pf-0b56881f"
        },
        {
          "label": "Trekking 7 Long Range Step Through ",
          "value": "pf-6f517699"
        },
        {
          "label": "Trekking 7 Long Range High Step",
          "value": "pf-6606cd6b"
        },
        {
          "label": "Trekking 7 Long Range Low Step",
          "value": "pf-8f1cd44c"
        },
        {
          "label": "Trekking 7 Performance High Step ",
          "value": "pf-f178f0e2"
        },
        {
          "label": "Trekking 7 Performance Low Step",
          "value": "pf-189d3a83"
        },
        {
          "label": "Trekking 7 Performance Step Through ",
          "value": "pf-3b191a30"
        },
        {
          "label": "Mountain 7 Ultra",
          "value": "pf-b4071def"
        },
        {
          "label": "Mountain 7 Long Range ",
          "value": "pf-bdc1b0ab"
        },
        {
          "label": "Mountain 7 Carbon Performance",
          "value": "pf-4aa2c1e5"
        },
        {
          "label": "Mountain 7 Performance ",
          "value": "pf-19d10b54"
        },
        {
          "label": "Mountain 7 Carbon Ultra",
          "value": "pf-7d87efce"
        },
        {
          "label": "Mountain 7 Carbon Long Range",
          "value": "pf-d71baac8"
        },
        {
          "label": "Trekking 7 Performance Step Through  - copy",
          "value": "pf-6b48c63b"
        },
        {
          "label": "Trekking 7 Long Range Step Through  - copy",
          "value": "pf-4ba63f74"
        },
        {
          "label": "Trekking 7 Long Range High Step - copy",
          "value": "pf-2ab0f850"
        },
        {
          "label": "Trekking 7 Long Range Low Step - copy",
          "value": "pf-0532f463"
        },
        {
          "label": "Mountain 7 Carbon Ultra - copy",
          "value": "pf-1d84e2ce"
        },
        {
          "label": "Mountain 7 Carbon Long Range - copy",
          "value": "pf-e673cda4"
        },
        {
          "label": "Mountain 7 Ultra - copy",
          "value": "pf-2b57fbc0"
        },
        {
          "label": "Mountain 7 Performance  - copy",
          "value": "pf-f6fc96e3"
        },
        {
          "label": "Mountain 7 Carbon Performance - copy",
          "value": "pf-595e4464"
        },
        {
          "label": "Mountain 7 Long Range  - copy",
          "value": "pf-c5a3ae27"
        },
        {
          "label": "0% Finanzierung",
          "value": "pf-a0a10818"
        },
        {
          "label": "Trekking 7 Ultra High Step - copy",
          "value": "pf-cf556a4b"
        },
        {
          "label": "Trekking 7 Performance Low Step - copy",
          "value": "pf-58d66ffe"
        },
        {
          "label": "Trekking 7 Ultra Step Through - copy",
          "value": "pf-b21c33fa"
        },
        {
          "label": "Trekking 7 Performance High Step  - copy",
          "value": "pf-6d62fede"
        },
        {
          "label": "Trekking 7 Ultra Low Step  - copy",
          "value": "pf-e9733c4b"
        },
        {
          "label": "Trekking 7 SE Ultra High Step without Santander",
          "value": "pf-130ce81f"
        },
        {
          "label": "Alteos banner",
          "value": "pf-7bf37f5a"
        },
        {
          "label": "Holen Sie sich Ihr Bike mit der 0% Finanzierung!",
          "value": "pf-64416b1b"
        },
        {
          "label": "Inklusive Alteos Komfortschutz",
          "value": "pf-72b94b0b"
        },
        {
          "label": "Section",
          "value": "pf-497a1847"
        },
        {
          "label": "Trekking 7 LTD",
          "value": "pf-b378afa7"
        },
        {
          "label": "faq",
          "value": "pf-f1c8354e"
        },
        {
          "label": "Häufig gestellte Fragen",
          "value": "pf-87b504d1"
        },
        {
          "label": "Rundum sorglos unterwegs mit dem HEPHA Trekking 7 ",
          "value": "pf-fb88e317"
        },
        {
          "label": "product Section",
          "value": "pf-09d22213"
        },
        {
          "label": "50% Off on the 2nd Battery",
          "value": "pf-e4d8cb3c"
        },
        {
          "label": "50% Off on the 2nd Battery.",
          "value": "pf-0968a6c4"
        },
        {
          "label": "Save 50% on a 2nd battery! ",
          "value": "pf-ffd00572"
        },
        {
          "label": "2nd battery",
          "value": "pf-e821adfb"
        },
        {
          "label": "And which E-Bike will you choose as your perfect m",
          "value": "pf-bed1746e"
        },
        {
          "label": "Discover our leasing partners",
          "value": "pf-48ae7c46"
        },
        {
          "label": "Specification",
          "value": "pf-8946c093"
        },
        {
          "label": "Frame & Geometry",
          "value": "pf-2363fea9"
        },
        {
          "label": "Get your Trekking 7 LTD",
          "value": "pf-8cf0cd14"
        },
        {
          "label": "model",
          "value": "pf-762a15cd"
        },
        {
          "label": "bingbanner-2",
          "value": "pf-42999595"
        },
        {
          "label": "bingbanner-3",
          "value": "pf-6044b326"
        },
        {
          "label": "bingbanner-1",
          "value": "pf-9ff10c2d"
        },
        {
          "label": "Section",
          "value": "pf-ea4fd8dc"
        },
        {
          "label": "Get your Trekking 7 LTD",
          "value": "pf-16c53695"
        },
        {
          "label": "Get your Trekking 7 LTD",
          "value": "pf-665c1834"
        },
        {
          "label": "Fan-weeks banner",
          "value": "pf-b295d099"
        },
        {
          "label": "Hepha Trekking 7 LTD",
          "value": "pf-625d5de6"
        },
        {
          "label": "Available Models",
          "value": "pf-31ca4fd9"
        },
        {
          "label": "Section",
          "value": "pf-5d266acc"
        },
        {
          "label": "Hepha Trekking 7 LTD",
          "value": "pf-d71b233d"
        },
        {
          "label": "Hepha Trekking 7 Model 2023",
          "value": "pf-32417e79"
        },
        {
          "label": "trekking 7 MY23",
          "value": "pf-37937843"
        },
        {
          "label": "bike leasing application",
          "value": "pf-221c3192"
        },
        {
          "label": "Section",
          "value": "pf-3d7fdfd6"
        },
        {
          "label": "step",
          "value": "pf-6b07d70c"
        },
        {
          "label": "fixed bottom",
          "value": "pf-456e3306"
        },
        {
          "label": "Specification",
          "value": "pf-3b228ee9"
        },
        {
          "label": "product gallery",
          "value": "pf-94139c14"
        },
        {
          "label": "banner-2",
          "value": "pf-a2173ee5"
        },
        {
          "label": "title-big",
          "value": "pf-6b11ceea"
        },
        {
          "label": "title-big",
          "value": "pf-72b8c95c"
        },
        {
          "label": "banner-bg",
          "value": "pf-ae354c57"
        },
        {
          "label": "banner-bg",
          "value": "pf-a01cde2e"
        },
        {
          "label": "footer-new",
          "value": "pf-341941e0"
        },
        {
          "label": "hepha trekking 7 bike",
          "value": "pf-24900b70"
        },
        {
          "label": "Section",
          "value": "pf-338bd750"
        },
        {
          "label": "2023 model",
          "value": "pf-be080d16"
        },
        {
          "label": "Testfahrt mit unseren Partnern",
          "value": "pf-7c1733f0"
        },
        {
          "label": "bikes",
          "value": "pf-f7bd140c"
        },
        {
          "label": "Section",
          "value": "pf-02fdeb15"
        },
        {
          "label": "trk7-perf-spec",
          "value": "pf-afa0cf31"
        },
        {
          "label": "trk7-lr-sp",
          "value": "pf-2b90a78f"
        },
        {
          "label": "mountain 7 carbon - spec",
          "value": "pf-1465dd73"
        },
        {
          "label": "trekking7-ultra-spec",
          "value": "pf-ad64c61a"
        },
        {
          "label": "footer-3",
          "value": "pf-81f588d9"
        },
        {
          "label": "trekking7-performance-spec",
          "value": "pf-414e7d84"
        },
        {
          "label": "trekking7-longrang-spec",
          "value": "pf-dc2ed248"
        },
        {
          "label": "long range exploe",
          "value": "pf-627c0a99"
        },
        {
          "label": "exploer-mountain7",
          "value": "pf-de3e7196"
        },
        {
          "label": "exploer-mountain-noew",
          "value": "pf-b3883521"
        },
        {
          "label": "Section",
          "value": "pf-e9201dcf"
        },
        {
          "label": "trekking 7 performance gallery",
          "value": "pf-9a390957"
        },
        {
          "label": "carbon highlights",
          "value": "pf-594e6a73"
        },
        {
          "label": "award-6",
          "value": "pf-d4e77fc1"
        },
        {
          "label": "award-5",
          "value": "pf-7dc256b1"
        },
        {
          "label": "award-4",
          "value": "pf-edf36eed"
        },
        {
          "label": "award-3",
          "value": "pf-9ea9d0f9"
        },
        {
          "label": "award-2",
          "value": "pf-8d7defad"
        },
        {
          "label": "bike gallery home",
          "value": "pf-3c4c1822"
        },
        {
          "label": "explore-mountain",
          "value": "pf-e0d7e7b1"
        },
        {
          "label": "footer-3",
          "value": "pf-d4f538e6"
        },
        {
          "label": "explore bike - 1",
          "value": "pf-2f21d60c"
        },
        {
          "label": "gallery-1",
          "value": "pf-afa170c7"
        },
        {
          "label": "footer-2",
          "value": "pf-a8675a26"
        },
        {
          "label": "award desgin new",
          "value": "pf-d69b897d"
        },
        {
          "label": "explore-4",
          "value": "pf-6193dce9"
        },
        {
          "label": "explore-2",
          "value": "pf-a4a09b80"
        },
        {
          "label": "geometry-3",
          "value": "pf-3cf2f860"
        },
        {
          "label": "Explore more Hepha e-bikes-3",
          "value": "pf-4f67533f"
        },
        {
          "label": "Explore more Hepha e-bikes-2",
          "value": "pf-3f8f4a3d"
        },
        {
          "label": "geometry-3",
          "value": "pf-e8990a9b"
        },
        {
          "label": "geometry-2",
          "value": "pf-2f7b896b"
        },
        {
          "label": "Explore more Hepha e-bikes",
          "value": "pf-061bb870"
        },
        {
          "label": "geometry",
          "value": "pf-74788d3d"
        },
        {
          "label": "Award winning Design-1",
          "value": "pf-bfc24a30"
        },
        {
          "label": "Award winning Design-2",
          "value": "pf-f2756220"
        },
        {
          "label": "featured slider",
          "value": "pf-4360fed1"
        },
        {
          "label": "highlight slider",
          "value": "pf-3100aaa1"
        },
        {
          "label": "Product Section",
          "value": "pf-b619f06f"
        },
        {
          "label": "footer-2",
          "value": "pf-e78757e1"
        },
        {
          "label": "footer-1",
          "value": "pf-547c2a2f"
        },
        {
          "label": "spectification",
          "value": "pf-3b79658c"
        },
        {
          "label": "frame size",
          "value": "pf-2191c3ed"
        },
        {
          "label": "Promotion Banner",
          "value": "pf-586a74a4"
        },
        {
          "label": "Mountain 7 Preformance Pre-order",
          "value": "pf-37ba5d7a"
        },
        {
          "label": "Mountain 7 Ultra Pre-order",
          "value": "pf-479697c8"
        },
        {
          "label": "Mountain 7 Long Range Pre-order",
          "value": "pf-aa477eb3"
        },
        {
          "label": "Mountain 7 Ultra Pre-order",
          "value": "pf-9e848861"
        },
        {
          "label": "product-list - copy",
          "value": "pf-32100d67"
        },
        {
          "label": "product-list - copy - copy",
          "value": "pf-cf68384e"
        },
        {
          "label": "product-list",
          "value": "pf-717fd329"
        },
        {
          "label": "blog read more",
          "value": "pf-3783e99c"
        },
        {
          "label": "standard banner",
          "value": "pf-e75ba0a2"
        },
        {
          "label": "test ride banner",
          "value": "pf-362d3f2c"
        },
        {
          "label": "HephaAward",
          "value": "pf-9d8e6c05"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "Find and edit your section on the [section listing](https://hepha-e-bike.myshopify.com/admin/apps/pagefly/sections)"
    },
    {
      "type": "paragraph",
      "content": "To add block to a section, please use the App Block element on PageFly section editor."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "PageFly Section"
    }
  ]
}
{% endschema %}
