<link rel="stylesheet" href="{{ 'feature-rating.css' | asset_url }}">
<div
  class="input-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}"
  {{ block.shopify_attributes }}
>
  {%- if block.settings.heading != blank -%}
    <div class="lightly-spaced-row">
      <strong role="heading" aria-level="2">{{ block.settings.heading }}</strong>
    </div>
  {%- endif -%}

  {% render 'feature-rating',
    segments: block.settings.segments,
    active_segment: block.settings.active_segment,
    fill_segments: block.settings.fill_segments,
    show_labels: block.settings.show_labels,
    label_left: block.settings.label_left,
    label_middle: block.settings.label_middle,
    label_right: block.settings.label_right
  %}
</div>