<div
  class="product-barcode"
  {% if current_variant == blank or current_variant.barcode == blank %}
    hidden
  {% endif %}
  {{ block.shopify_attributes }}
>
  <span class="product-info-label">{{ 'products.product.barcode' | t }}</span>
  <span class="product-barcode__value">
    {%- if current_variant %}{{ current_variant.barcode }}{% endif -%}
  </span>
</div>
