<p>HEPHA is mindful of the protection of the privacy of each user (hereinafter the “User”) of www.hephabike.com (hereinafter the “Website”) and “HEPHA E-bike” mobile application (hereinafter the “Application”), and considers it essential to inform the User in a clear and transparent way about the use of cookies while browsing on the Website and the Application.</p>
<p><strong>1. What is a cookie?</strong></p>
<p>A cookie is an element of data stored on the hard drive of the User’s terminal (computer, tablet, mobile) through a navigation browser when visiting online services. Cookies are widely used by websites. They improve the browsing experience, and supply audience information to the owners of these websites. Cookies set up by HEPHA can appear when the User registers (if applicable). The cookies calculate how long the User stays on the confirmation page in order to redirect him to the HEPHA Website. Cookies can also gather information concerning the online preferences of Users and allow HEPHA to adapt the Website to the User’s centers of interest.</p>
<p>Cookies recorded by HEPHA or by third parties when the User visits the Website or Application do not recognize the User personally, but rather as the device they use. Cookies simply give information about the browsing of the User in order to recognize the terminal later on.</p>
<p>Cookies cause no damage to the terminal, but allow some actions more easily, such as finding preferences, advance filling certain fields and adapting the contents of the services of HEPHA.</p>
<p><strong>2. How accepting or refusing the use of cookies?</strong></p>
<p>The User may set his/her browser to notify him/her when he/she receives a cookie, and can refuse cookies from all websites, if he/she wishes. Please note, however, that if the User rejects cookies, it is possible that some web pages may not properly load or load at all, and his/her access to certain information might be denied or he/she might have to enter information about himself/herself more than once.</p>
<p>If the User does not wish to receive cookies in a general way or wishes to refuse only certain cookies, he/she can modify the parameters of his/her browser accordingly.</p>
<p>Instructions are supplied by each web browser:</p>
<p>For Internet Explorer:<br><span><a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies</a></span></p>
<p>For Firefox:<br><span><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a></span></p>
<p>For Safari:<br><span><a href="https://support.apple.com/en-us/HT201265">https://support.apple.com/en-us/HT201265</a></span></p>
<p>For Chrome:<br><span><a href="https://support.google.com/chrome/answer/95647?hl=en&amp;hlrm=en">https://support.google.com/chrome/answer/95647?hl=en&amp;hlrm=en</a></span></p>
<p>To disable cookies on your computer:<br><span><a href="http://www.youronlinechoices.com/uk/your-ad-choices/">http://www.youronlinechoices.com/uk/your-ad-choices/</a></span></p>
<p>For any other browser not mentioned above, the User should not hesitate to consult the cookie management help available on the Internet.</p>
<p><strong>3. How do we use cookies?</strong></p>
<p>Information collected through cookies helps HEPHA analyze the use of its Website and enables Users to benefit from a better experience when visiting the Website. HEPHA also uses cookies to send messages that are customized to Users specific interests.</p>
<p><strong>4. Which&nbsp;kind&nbsp;of&nbsp;cookies are on the website?</strong></p>
<p><strong>Functional cookies</strong></p>
<p>Functional cookies enable the Website:</p>
<p>- to adapt the display of the Website (used language, screen resolution, used operating system, etc.), according to the materials and the software you’re the User’s terminal contains. These cookies expire at the end of each session;</p>
<p>- to facilitate better searches by storing searches previously made by the User. These cookies will be stored for a 13-month period.</p>
<p><strong>Analytics cookies</strong></p>
<p>HEPHA may use analytics cookies to enhance the performance of the Website by collecting connection data such as date, time, Internet address, the IP address, visited and consulted pages and User’s browser version. HEPHA does not share, sell, lease or rent its mailing or customer lists to third parties and does not store them for more than a 13-month period. Thus, HEPHA may use web analytics from a service provider that uses related cookies. Although HEPHA has no control over web analytics from service providers, which are control their own processing, nor on collected data even when transferred outside the European Union since such providers are located in the United States of America, HEPHA considers it necessary to mention this in order to ensure Users have clear and thorough information on such use, which may, if any, require Users’ prior consent. For additional information, and provided that such policy is available in your language, please refer to each privacy policy:</p>
<p><span><a href="https://policies.google.com/privacy?hl=en&amp;gl=en">Google: click here to consult Google’s privacy policy</a></span></p>
<p>The User can, however, oppose these various operations by configuring his/her browser, such as Internet Explorer or Firefox, by following the instructions, also indicated above, which are supplied for that purpose on his/her browser website. In case a User exercises their right of opposition, HEPHA confirms that no data of connection will be transmitted to any supplier of analysis ofaudience tools. Moreover, the User has a right to access their own data. He/she can exercise this right by contacting the concerned supplier and by specifying the number identifying the cookie, which will be attributed to him/her by the supplier.</p>
<p><strong>Third party cookies.</strong></p>
<p>The Website may include functionalities from third-party sites, including certain social networks. These functionalities can sometimes be accompanied by scripts or other elements that can read and sometimes place cookies from these social networks on the User’s device. These cookies can be used to personalize advertising messages. Although HEPHA has no access to these cookies, nor does it have any control over these social networks, which are responsible for their own processing, nor over the data they collect, including in connection with a transfer of data outside the European Union, since some of them are located in the United States, HEPHA considers it essential to mention this so that the User has clear and complete information in the event that they are used. For additional information, and subject to the availability of this information in your language, please refer to the list of potential social network cookies below.</p>
<p><strong>Facebook.</strong></p>
<p>The following Facebook features may be incorporated into the Website and Application and are likely to read of place Facebook cookies:</p>
<p>Facebook login, which allows the User to log into their Facebook account and interact with the Website and Application via this account.</p>
<p><span><a href="https://www.facebook.com/about/privacy/">Click here to consult Facebook’s privacy policy</a></span></p>
<p><span><a href="https://www.facebook.com/help/cookies">Click here to consult Facebook’s cookie policy</a></span></p>
<p><strong>Twitter.</strong></p>
<p>The following Twitter features may be incorporated into the Website and Application and are likely to read of place Twitter cookies:</p>
<p>Twitter login, which allows the User to log into their Twitter account and interact with the Website and Application via this account.</p>
<p><span><a href="https://twitter.com/en/privacy">Click here to consult Twitter’s privacy policy</a></span></p>
<p><span><a href="https://help.twitter.com/en/rules-and-policies/twitter-cookies">Click here to consult Twitter’s cookie policy</a></span></p>
<p><strong>Instagram.</strong></p>
<p>The following Instagram features may be incorporated into the Website and Application and are likely to read of place Instagram cookies:</p>
<p>Instagram login, which allows the User to log into their Instagram account and interact with the Website and Application via this account.</p>
<p><span><a href="https://help.instagram.com/1896641480634370?ref=ig">Click here to consult Instagram’s cookie policy</a></span></p>
<p><strong>YouTube</strong></p>
<p>The following YouTube features may be incorporated into the Website and Application and are likely to read of place YouTube cookies:</p>
<p>YouTube login, which allows the User to log into their YouTube account and interact with the Website and Application via this account.</p>
<p><span><a href="https://policies.google.com/privacy?hl=en&amp;gl=en">Click here to consult YouTube's privacy policy</a></span></p>
<p><strong>AdChoices.</strong></p>
<p>Cookies can be placed and collected on the Website and Application by AdChoices for targeted advertising purposes.</p>
<p><a href="https://www.youradchoices.com/control">Click here in order to manage your cookies on Adchoices</a></p>